*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul[role="list"],
ol[role="list"] {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  color: #e7e7e8; }

.navigation__icon-box {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: block;
  background-color: #232325;
  text-align: center; }

.navigation__icon-list {
  position: relative;
  margin-top: 2.4rem; }
  .navigation__icon-list, .navigation__icon-list::before, .navigation__icon-list::after {
    display: inline-block;
    width: 2.5rem;
    height: 3px;
    border-radius: 10px;
    background-color: #e7e7e8;
    transition: all 0.2s;
    animation-timing-function: ease-in-out; }
  .navigation__icon-list::before, .navigation__icon-list::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon-list::before {
    top: -0.8rem; }
  .navigation__icon-list::after {
    top: 0.8rem; }

.navigation__icon-box:hover .navigation__icon-list::before {
  top: -1rem; }

.navigation__icon-box:hover .navigation__icon-list::after {
  top: 1rem; }

.navigation__icon-info {
  position: relative;
  width: 0.6rem;
  height: 1.8rem;
  margin-top: 2rem; }
  .navigation__icon-info, .navigation__icon-info::before {
    background-color: #e7e7e8;
    border-radius: 10px;
    transition: all 0.2s;
    animation-timing-function: ease-in-out;
    display: inline-block; }
  .navigation__icon-info::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1rem;
    width: 0.6rem;
    height: 0.6rem; }

.navigation__icon-box:hover .navigation__icon-info::before {
  top: -1.4rem; }

.navigation__icon-box:hover .navigation__icon-info {
  margin-top: 2.2rem; }

.navigation__location-icon {
  height: 2.4rem;
  width: 2.4rem; }

.container {
  width: 140rem;
  min-height: 85vh;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: #101014;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 2fr 10fr 15fr;
  grid-template-columns: [left-start] 3fr [left-end right-start] 1fr [right-end];
  row-gap: 3rem;
  column-gap: 2rem; }
  .container > section,
  .container > header {
    background-color: gray; }

.navigation {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem; }

body {
  background-image: linear-gradient(to left bottom, #212529, #343a40);
  background-size: cover;
  background-repeat: no-repeat; }
