*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  color: #e7e7e8; }

.header-texts {
  font-size: 1.8rem;
  font-weight: 500; }

.forecast__active-item {
  color: #e7e7e8;
  cursor: default !important; }

.numbers {
  font-family: "Red Hat Display", sans-serif; }

.icon-weather {
  background-image: radial-gradient(closest-side, #232325 60%, #1b1a1d);
  height: 6.5rem;
  width: 6.5rem; }
  .icon-weather--active {
    background-image: radial-gradient(closest-side, #adcade 65%, #bbd8ec);
    height: 8.5rem;
    width: 8.5rem; }

.navigation__icon-container {
  display: flex;
  gap: 2.5rem;
  margin-right: 3rem; }

.navigation__icon-box {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: #232325;
  text-align: center; }

.navigation__icon-list {
  position: relative;
  margin-top: 50%; }
  .navigation__icon-list, .navigation__icon-list::before, .navigation__icon-list::after {
    display: inline-block;
    width: 2.5rem;
    height: 2px;
    border-radius: 100px;
    background-color: #e7e7e8;
    transition: all 0.2s;
    transition-timing-function: ease-out; }
  .navigation__icon-list::before, .navigation__icon-list::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon-list::before {
    top: -0.8rem; }
  .navigation__icon-list::after {
    top: 0.8rem; }

.navigation__icon-box:hover .navigation__icon-list::before {
  transform: translateY(-0.2rem); }

.navigation__icon-box:hover .navigation__icon-list::after {
  transform: translateY(0.2rem); }

.navigation__icon-info {
  position: relative;
  width: 4px;
  height: 1.8rem;
  margin-top: 2rem; }
  .navigation__icon-info, .navigation__icon-info::before {
    display: inline-block;
    background-color: #e7e7e8;
    border-radius: 10px;
    transition: all 0.2s;
    transition-timing-function: ease-out; }
  .navigation__icon-info::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.8rem;
    width: 4px;
    height: 4px; }

.navigation__icon-box:hover .navigation__icon-info::before {
  transform: translateY(-0.4rem); }

.navigation__icon-box:hover .navigation__icon-info {
  margin-top: 2.2rem; }

.navigation__location {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 0.8rem; }
  .navigation__location-icon {
    height: 2.5rem;
    width: 2.5rem; }
  .navigation__location-text {
    font-size: 1.8rem;
    font-weight: 300; }
    .navigation__location-text--city {
      font-size: 2rem;
      font-weight: 700; }

.navigation__searchbar {
  position: relative;
  width: 55%;
  height: 5rem;
  padding: 1.25rem 2.5rem;
  border-radius: 100px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.2s;
  transition-timing-function: ease-out; }
  .navigation__searchbar:focus-within {
    transform: scale(1.02); }
  .navigation__searchbar:focus-within .navigation__searchbar-icon {
    transform: scale(1.1); }
  .navigation__searchbar-icon {
    transition: all 0.2s;
    transition-timing-function: ease-out;
    height: 2.4rem;
    width: 2.4rem; }
  .navigation__searchbar-input {
    width: 100%;
    background: none;
    border: none;
    color: inherit; }
    .navigation__searchbar-input:focus {
      outline: none; }
    .navigation__searchbar-input::placeholder {
      color: #888; }

.settingsbox__profilepic {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .settingsbox__profilepic-icon {
    fill: #bbd8ec;
    width: 5rem;
    height: 5rem;
    transform: scale(1.2308); }

.settingsbox__switcher-checkbox {
  display: none; }
  .settingsbox__switcher-checkbox + label {
    position: relative;
    cursor: pointer;
    height: 5rem;
    width: 10rem;
    padding: 0.8rem;
    border-radius: 100px;
    background-color: #1a191c;
    outline: 2px solid #242426;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .settingsbox__switcher-checkbox + label > svg {
      height: 3.3rem;
      width: 3.3rem;
      z-index: 1000; }
    .settingsbox__switcher-checkbox + label::before {
      content: "";
      position: absolute;
      right: 0;
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
      background-color: #bbd8ec;
      outline: 2px solid #e7e7e8;
      transition: all 0.2s;
      transition-timing-function: ease-out; }
  .settingsbox__switcher-checkbox:checked + label::before {
    transform: translateX(-100%); }
  .settingsbox__switcher-checkbox:checked + label > .sun {
    transition-property: stroke, fill;
    transition-delay: 0.1s;
    fill: black;
    stroke: black; }
  .settingsbox__switcher-checkbox:not(:checked) + label > .moon {
    transition-property: stroke, fill;
    transition-delay: 0.1s;
    fill: black;
    stroke: black; }

.forecast__container-card {
  border-radius: 3.2rem;
  height: 21.9rem;
  background-color: #1b1a1d;
  overflow: hidden; }
  .forecast__container-card--header {
    position: relative;
    padding: 1.2rem 2rem;
    text-align: center;
    font-size: 1.9rem;
    color: #e7e7e8;
    font-weight: 700; }
    .forecast__container-card--header::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 50%;
      height: 2px;
      background-color: #242426;
      border-radius: 100px; }
  .forecast__container-card--main {
    padding: 0.5rem 2rem; }
    .forecast__container-card--main > :first-child {
      margin-top: 1rem; }
    .forecast__container-card--main > :last-child {
      font-size: 4rem;
      font-weight: 700;
      display: flex;
      justify-content: center; }

.forecast__active-card {
  background-color: #bbd8ec; }
  .forecast__active-card > .forecast__container-card--header {
    background-color: #adcade;
    color: black;
    display: flex;
    justify-content: space-between; }
    .forecast__active-card > .forecast__container-card--header::after {
      display: none; }
  .forecast__active-card > .forecast__container-card--main {
    color: black;
    padding: 0.5rem 2rem; }
    .forecast__active-card > .forecast__container-card--main > :first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      font-size: 6rem;
      font-weight: 700; }
      .forecast__active-card > .forecast__container-card--main > :first-child > span {
        line-height: 1; }
    .forecast__active-card > .forecast__container-card--main > :last-child {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .forecast__active-card > .forecast__container-card--main > :last-child > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        color: #4b565e;
        font-weight: 400; }
        .forecast__active-card > .forecast__container-card--main > :last-child > ul > li > strong {
          color: #131618;
          font-weight: 700; }

.forecast__header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  font-size: 2rem;
  color: #6d6d71; }
  .forecast__header-menu--item {
    cursor: pointer;
    transition: all 0.2s; }
    .forecast__header-menu--item:not(.forecast__active-item):hover {
      transform: scaleX(1.05); }

.forecast__header-switcher--checkbox {
  display: none; }
  .forecast__header-switcher--checkbox + label {
    position: relative;
    cursor: pointer;
    background-color: #1e1e1e;
    border-radius: 100px;
    height: 3.6rem;
    width: 20rem;
    color: #888;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.2rem;
    font-weight: 700; }
    .forecast__header-switcher--checkbox + label::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 50%;
      border-radius: 100px;
      background-color: #bbd8ec;
      transition: all 0.4s;
      transition-timing-function: ease-out; }
    .forecast__header-switcher--checkbox + label > :first-child,
    .forecast__header-switcher--checkbox + label > :last-child {
      z-index: 1000;
      transition-property: color;
      transition-delay: 0.2s; }
  .forecast__header-switcher--checkbox:checked + label::before {
    transform: translateX(100%); }
  .forecast__header-switcher--checkbox:not(:checked) + label > :first-child {
    color: black; }
  .forecast__header-switcher--checkbox:not(:checked) + label > :last-child {
    color: #888; }
  .forecast__header-switcher--checkbox:checked + label > :last-child {
    color: black; }
  .forecast__header-switcher--checkbox:checked + label > :first-child {
    color: #888; }

.other__container-card {
  height: 9.2rem;
  width: 100%;
  border-radius: 3.2rem;
  padding: 1.2rem 2rem 1.2rem 2.5rem;
  background-color: #1b1a1d;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .other__container-card--texts {
    display: flex;
    flex-direction: column; }
    .other__container-card--texts > span:nth-child(1) {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 0.7;
      color: #888;
      margin-top: 0.3rem; }
    .other__container-card--texts > span:nth-child(2) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.1rem; }
    .other__container-card--texts > span:nth-child(3) {
      font-size: 1.5rem;
      font-weight: 400;
      color: #bbd8ec; }
  .other__container-card--weather {
    display: flex;
    align-items: center; }
    .other__container-card--weather > span {
      height: 4.8rem;
      width: 5.6rem;
      font-size: 3.5rem;
      margin-right: 1rem;
      font-weight: 700; }

.container {
  width: 140rem;
  min-height: 85vh;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: #101014;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 2fr 11fr 14fr;
  grid-template-columns: [left-start] 3fr [left-end right-start] 1fr [right-end];
  row-gap: 3rem;
  column-gap: 3rem; }

.navigation {
  height: 100%;
  display: flex;
  align-items: center; }

.settings {
  display: flex;
  align-items: center; }

.settingsbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem; }

.forecast {
  display: grid;
  grid-template-rows: 3.6rem min-content;
  row-gap: 2rem; }
  .forecast__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .forecast__container {
    display: grid;
    grid-template-columns: minmax(24rem, 2.4fr) repeat(6, minmax(10rem, 1fr));
    gap: 2rem; }

.diagram {
  display: grid;
  grid-template-rows: 3.6rem min-content;
  row-gap: 2rem;
  align-items: center; }

.other {
  display: grid;
  grid-template-rows: 3.6rem min-content;
  row-gap: 2rem;
  align-items: center; }
  .other__container {
    display: flex;
    flex-direction: column;
    gap: 1rem; }

.map {
  display: grid;
  grid-template-rows: 3.6rem min-content;
  row-gap: 2rem;
  align-items: center; }
  .map__container {
    background-color: #1b1a1d;
    border-radius: 3.2rem;
    width: 100%;
    height: 29.6rem; }

body {
  background-image: linear-gradient(to left bottom, #212529, #343a40);
  background-size: cover;
  background-repeat: no-repeat; }
