// MEDIA QUERIES

@mixin big-desktop {
  @media screen and (max-width: 100em) {
    // 1600px
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 81.25em) {
    // 1300px
    @content;
  }
}
@mixin desktop--height {
  @media screen and (max-height: 48.75em) and (max-width: 81.25em) {
    // h:780px w:1300px
    @content;
    // needed for a little adjustment with height resizing
  }
}

@mixin desktop-smaller {
  @media screen and (max-width: 76.875em) {
    // 1230px
    @content;
  }
}

@mixin laptops {
  @media screen and (max-width: 68.75em) {
    // 1100px
    @content;
  }
}
@mixin wide-phones {
  @media screen and (max-width: 55em) {
    // 880px
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: 50em) {
    // 800px
    @content;
  }
}
@mixin small-phones {
  @media screen and (max-width: 43.75em) {
    // 700px
    @content;
  }
}
@mixin mini-phones {
  @media screen and (max-width: 32.5em) {
    // 520px
    @content;
  }
}
@mixin mini-phones-2 {
  @media screen and (max-width: 31.25em) {
    // 500px
    @content;
  }
}
@mixin smallest {
  @media screen and (max-width: 26.875em) {
    // 430px
    @content;
  }
}
@mixin tiny {
  @media screen and (max-width: 21.875em) {
    // 350px
    @content;
  }
}
// OTHER
//
// shiny hover effect (cursor following)
@mixin shiny-hover-effect {
  &::after {
    content: '';
    pointer-events: none; // fixes a bug where the element behind the effect could not be clicked
    position: absolute;
    top: calc(var(--y, 0) * 1px - 150px);
    left: calc(var(--x, 0) * 1px - 150px);
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: opacity 0.2s;
    background: radial-gradient(#96adbd, #1e1e1e00 60%);
  }
  &:hover::after {
    opacity: 0.03;
  }
  @content;
}
