.container {
  width: 140rem;
  height: 79rem;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: $color-container-background;
  box-shadow: $shadow-dark;

  display: grid;
  grid-template-rows: 2fr 11fr 14fr; //temporary
  grid-template-columns: [left-start] 3fr [left-end right-start] 1fr [right-end];
  row-gap: 3rem;
  column-gap: 3rem;
}
.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}
.settings {
  display: flex;
  align-items: center;
}
.settingsbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.forecast {
  display: grid;
  grid-template-rows: 3.6rem min-content; //TEMPORARY
  row-gap: 2rem; //TEMPORARY
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__container {
    display: grid;
    grid-template-columns: minmax(24rem, 2.4fr) repeat(6, minmax(10rem, 1fr)); //ONLY WORKS WITH MONDAY
    gap: 2rem;
  }
}
.diagram {
  display: grid;
  grid-template-rows: 3.6rem min-content; //TEMPORARY
  row-gap: 2rem;
  align-items: center;
}
.other {
  display: grid;
  grid-template-rows: 3.6rem min-content; //TEMPORARY
  row-gap: 2rem;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
