@media screen and (max-width: 100em) {
  // 1600px
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 81.25em) {
  // 1300px
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 76.875em) {
  // 1230px
  .container {
    border-radius: 0;
  }
  body {
    background-image: none !important;
    background-color: $color-container-background;
  }
}
@media screen and (max-height: 48.75em) and (max-width: 81.25em) {
  // height: 780px width: 1300px
  body {
    background-image: none !important;
    background-color: $color-container-background !important;
  }
}
