.container {
  width: 140rem;
  min-height: 85vh;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: $color-container-background;
  box-shadow: $shadow-dark;

  display: grid;
  grid-template-rows: 2fr 10fr 15fr; //temporary
  grid-template-columns: [left-start] 3fr [left-end right-start] 1fr [right-end];
  row-gap: 3rem;
  column-gap: 2rem;

  & > section,
  & > header {
    //background-color: gray; //temporary
  }
}
.navigation {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem; //TEMPORARY
}
.settings {
  display: flex;
  align-items: center;
}
.settingsbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
