.container {
  width: 140rem;
  height: 79rem;
  border-radius: 3rem;
  padding: 2.5rem;
  background-color: $color-container-background;
  box-shadow: $shadow-dark;

  display: grid;
  grid-template-rows: 2fr 11fr 12.5fr; //temporary
  grid-template-columns: [left-start] 3fr [left-end right-start] 1fr [right-end];
  row-gap: 3rem;
  column-gap: 3rem;
}
.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}
.settings {
  height: 100%;
  display: flex;
  align-items: center;
}
.settingsbox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.forecast {
  display: grid;
  grid-template-rows: 3.6rem min-content; //TEMPORARY
  row-gap: 2rem; //TEMPORARY
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__container {
    display: grid;
    grid-template-columns: 24rem; // first active card
    grid-auto-columns: minmax(10rem, 15rem); // little cards will be 10 rem
    grid-auto-flow: column;
    gap: 2rem;
  }
}
.diagram {
  display: grid;
  grid-template-rows: 3.6rem 1fr; //TEMPORARY
  row-gap: 2rem;
  align-items: center;
}
.other {
  display: grid;
  grid-template-rows: 3.6rem 1fr; //TEMPORARY
  row-gap: 2rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.map {
  display: grid;
  grid-template-rows: 3.6rem min-content; //TEMPORARY
  row-gap: 2rem;
  align-items: center;
  &__container {
    background-color: $color-grey-dark-4; //TEMPORARY
    border-radius: 3.2rem;
    width: 100%;
    height: 29.6rem;
  }
}

/// MEDIA QUERIES ///

// 1600px
@include big-desktop {
  // decrease overall size
  html {
    font-size: 55%;
  }
}

// 1300px
@include desktop {
  // make the container to stick to the sides
  .container {
    width: 100%;
  }
}

// height: 780px width: 1300px
@include desktop--height {
  // make the background completely dark
  body {
    background-image: none !important;
    background-color: $color-container-background;
  }
  .container {
    box-shadow: none;
    height: 100%;
  }
}

// 1230px
@include desktop-smaller {
  // decrease overall size
  html {
    font-size: 48%;
  }

  // make the background completely dark
  body {
    background-image: none !important;
    background-color: $color-container-background;
  }
  .container {
    box-shadow: none;
    height: 100%;
  }
}

// 1100px
@include laptops {
  // LAYOUT CHANGE
  .container {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem; //more whitespace
    margin-top: 4rem; // space for the location on the top
  }
  .header {
    grid-row: 1;
    grid-column: 1 / -2;
  }
  .settings {
    grid-row: 1;
    grid-column: -2 / -1;
  }
  .forecast {
    grid-row: 2;
    grid-column: 1 / -1;
    row-gap: 2.5rem;
    &__container {
      gap: 2%;
    }
  }
  .diagram {
    grid-row: 3;
    grid-column: 1 / 3;
    justify-content: center;
  }
  .other {
    grid-row: 3;
    grid-column: 3 / -1;
    justify-content: center;
    margin-right: 2rem;
    &__container {
      flex-direction: row;
      gap: 2rem;
    }
  }
  .map {
    grid-row: 4;
    grid-column: 1 / -1;
    &__container {
      height: 40rem;
    }
  }
}

// 880px
@include wide-phones {
  .container {
    row-gap: 5rem; //more whitespace
  }
  .diagram {
    justify-content: start;
  }
  .other {
    justify-content: end;
    margin-right: 0;
  }
}

// 800px
@include phones {
  .diagram {
    margin-left: auto;
    margin-right: auto;
  }
  .other {
    margin-left: auto;
    margin-right: auto;
    &__container {
      flex-direction: column;
    }
  }
}

// 700px
@include small-phones {
  html {
    font-size: 45%;
  }
  // LAYOUT CHANGE
  .container {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr;
    row-gap: 5rem; //more whitespace
    margin-top: 0; // remove space for the location on the top
  }
  .header {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .settings {
    grid-row: 1; //
    grid-column: -2 / -1; ///
    align-items: start;
  }
  .forecast {
    grid-row: 2;
    grid-column: 1 / -1;
    &__container {
      grid-template-columns: 26rem; // first active card
      grid-auto-columns: 12rem; // little cards will be 10 rem
      gap: 2rem;
    }
  }
  .diagram {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-content: center;
  }
  .other {
    grid-row: 4;
    grid-column: 1 / -1;

    &__container {
      flex-direction: row;
    }
  }
  .map {
    grid-row: 5;
  }

  // design changes in the navigation
  .navigation {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: min-content 1fr 1fr;

    row-gap: 2rem;

    &__searchbar {
      grid-column: 1 / -1;
    }
  }
}

// 520px
@include mini-phones {
  html {
    font-size: 42%;
  }
  .container {
    gap: 3rem;
  }
  .navigation {
    row-gap: 2.5rem;
  }
  .forecast {
    grid-template-rows: repeat(2, min-content);
    //margin-top: -3rem;
    &__header {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      &-menu {
        grid-row: 2;
        justify-self: center;
      }
      &-switcher {
        grid-row: 1;
        justify-self: center;
      }
    }
  }
}

// 500px
@include mini-phones-2 {
  .container {
    margin-top: 2rem; // space for the location on the top
  }
}

// 430px
@include smallest {
  html {
    font-size: 35%;
  }
}

// 350px
@include tiny {
  html {
    font-size: 30%;
  }
}
