.error-message {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0.9);
  z-index: 99999;
  transition: all 0.5s;

  opacity: 0;
  background-color: var(--color-grey-dark);
  box-shadow: $shadow-big;
  border-radius: 15px;
  width: 40rem;
  padding: 1.5rem 3rem;

  text-align: center;
  font-size: 1.8rem;

  &__timer {
    transition: width 7s ease-out; // the message will be visible for 7 sec
    background-color: var(--color-lightblue-main);
    border-radius: 100px;
    width: 80%;
    height: 3px;
    margin: 1.5rem auto 0 auto;
  }
}
