.forecast {
  &__header {
    //Today | Tomorrow | Next 7 days  section
    &-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3.2rem;

      font-size: 2rem;
      color: $color-grey-light-3;

      &--item {
        cursor: pointer;
        transition: all 0.2s;

        //hover effect on the non active options
        &:not(.forecast__active-item):hover {
          transform: scaleX(1.05);
        }
      }
    }
  }
}

/// MEDIA QUERIES ///
// 1230px
@include desktop-smaller {
  .forecast {
    &__header {
      &-menu {
        font-size: 2.4rem;
      }
    }
  }
}
// 1100px
@include laptops {
  .forecast {
    &__header {
      &-menu {
        font-size: 2.5rem;
      }
    }
  }
}

// 520px
@include mini-phones {
  .forecast {
    &__header {
      &-menu {
        font-size: 2.8rem;
      }
    }
  }
}
