.navigation {
  //element container
  &__location {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 0.8rem;
    //pin icon
    &-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
    //location text
    &-text {
      font-size: 1.8rem;
      font-weight: 300;
      &--city {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}

/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .navigation {
    &__location {
      &-text {
        font-size: 2.25rem;
        &--city {
          font-size: 2.5rem;
        }
      }

      position: absolute;
      top: 0.3rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
