.navigation {
  &__searchbar {
    z-index: 9999;
    position: relative;
    width: 55%;
    height: 5rem;
    padding: 1.25rem 2.5rem;
    border-radius: 100px;
    background-color: $color-grey-dark-2;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.2s;
    transition-timing-function: ease-out;

    //on focus
    &:focus-within {
      transform: scale(1.02);
    }
    &:focus-within &-icon {
      transform: scale(1.1);
    }

    //search svg icon
    &-icon {
      z-index: 9999;
      transition: all 0.2s;
      transition-timing-function: ease-out;
      height: 2.4rem;
      width: 2.4rem;
    }
    //text field
    &-input {
      z-index: 9999;
      width: 100%;
      background: none;
      border: none;
      color: inherit;

      &:focus {
        outline: none;
      }
      //text when nothing is typed in
      &::placeholder {
        color: $color-grey-light-2;
      }
    }
    &-results {
      position: absolute;
      top: 2.5rem; // make room for a border radius hider div
      left: 0;
      width: 100%;
      background-color: $color-grey-dark-2;
      border-radius: 0 0 3rem 3rem;
      box-shadow: $shadow-big;

      overflow: hidden; // the text appears with the background in the animation
      transition: all 0.4s;
      transition-timing-function: ease-in-out;
      height: 0; // base height is 0, JS will change that (1box = 5rem)

      &--box {
        position: relative;
        display: flex;
        align-items: center;
        height: 5rem;
        padding: 1.25rem 2.5rem;

        // separator line
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $color-grey-lines;
          border-radius: 100px;
        }
        .results {
          &-icon {
            height: 2.4rem;
            width: 2.4rem;
          }
          &-city {
            margin-left: 1.5rem;
            font-size: 2rem;
            color: $color-lightblue-main;
            font-weight: 600;
            & > span {
              font-weight: 800;
            }
          }
          &-country {
            margin-left: 1rem;
            color: $color-grey-light-2;
          }
          &-save {
            transition: all 0.3s;
            cursor: pointer;
            color: $color-lightblue-main-shade-2;
            height: 3rem;
            width: 3rem;
            margin-left: auto;

            &:hover {
              color: $color-grey-light;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .navigation {
    &__searchbar {
      width: 80%;
      height: 6.25rem;
      font-size: 2rem;

      &-icon {
        transition: all 0.2s;
        transition-timing-function: ease-out;
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

// 700 px
@include small-phones {
  .navigation {
    &__searchbar {
      width: 100%;
    }
  }
}
