.navigation {
  &__searchbar {
    position: relative;
    width: 55%;
    height: 5rem;
    padding: 1.25rem 2.5rem;
    border-radius: 100px;
    background-color: $color-grey-dark-2;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.2s;
    transition-timing-function: ease-out;

    &:focus-within {
      transform: scale(1.02);
    }
    &:focus-within &-icon {
      transform: scale(1.1);
    }

    &-icon {
      transition: all 0.2s;
      transition-timing-function: ease-out;
      height: 2.4rem;
      width: 2.4rem;
    }
    &-input {
      width: 100%;
      background: none;
      border: none;
      color: inherit;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $color-grey-light-2;
      }
    }
  }
}
