.navigation {
  &__icon {
    &-container {
      // container of the custom icons
      display: flex;
      gap: 2.5rem;
      margin-right: 3rem;
    }
    &-box {
      // round background of the icons
      cursor: pointer;
      width: $width-header-buttons;
      height: $height-header-buttons;
      border-radius: 100%;
      background-color: $color-grey-dark;
      text-align: center;
    }
    //LIST ICON STYLE
    &-list {
      position: relative;
      margin-top: 50%;

      &,
      &::before,
      &::after {
        display: inline-block;
        width: 2.5rem; //currently half of the background width
        height: 2px;
        border-radius: 100px;
        background-color: $color-grey-light;
        transition: all 0.2s;
        transition-timing-function: ease-out;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }
    //LIST ICON  HOVER FUNCTIONALITY
    &-box:hover &-list::before {
      transform: translateY(-0.2rem);
    }
    &-box:hover &-list::after {
      transform: translateY(0.2rem);
    }
    //INFO ICON STYLE
    &-info {
      position: relative;
      width: 4px;
      height: 1.8rem;
      margin-top: 2rem;

      &,
      &::before {
        display: inline-block;
        background-color: $color-grey-light;
        border-radius: 10px;
        transition: all 0.2s;
        transition-timing-function: ease-out;
      }
      // MOVING DOT
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -0.8rem;
        width: 4px;
        height: 4px;
      }
    }
    //INFO ICON HOVER FUNCTIONALITY
    &-box:hover &-info::before {
      transform: translateY(-0.4rem);
    }
    &-box:hover &-info {
      margin-top: 2.2rem;
    }
  }
}

/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .navigation {
    &__icon {
      // round background of the icons
      &-box {
        width: 6.25rem;
        height: 6.25rem;
      }
      // LIST ICON STYLE
      &-list {
        &,
        &::before,
        &::after {
          width: 3.125rem;
          height: 2px;
        }
        &::before {
          top: -0.9rem;
        }
        &::after {
          top: 0.9rem;
        }
      }
      // INFO ICON STYLE
      &-info {
        width: 5px;
        height: 2.25rem;
        margin-top: 2.5rem;
        // MOVING DOT
        &::before {
          top: -0.9rem;
          width: 5px;
          height: 5px;
        }
      }
      //INFO ICON HOVER FUNCTIONALITY
      &-box:hover &-info::before {
        transform: translateY(-0.5rem);
      }
      &-box:hover &-info {
        margin-top: 2.75rem;
      }
    }
  }
}
