.navigation {
  &__searchbar {
    z-index: 9999;
    position: relative;
    width: 55%;
    height: 5rem;
    padding: 1.25rem 2.5rem;
    border-radius: 100px;
    background-color: $color-grey-dark-2;

    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.2s;
    transition-timing-function: ease-out;

    //on focus
    &:focus-within {
      transform: scale(1.02);
    }
    &:focus-within &-icon {
      transform: scale(1.1);
    }

    //search svg icon
    &-icon {
      z-index: 9999;
      transition: all 0.2s;
      transition-timing-function: ease-out;
      height: 2.4rem;
      width: 2.4rem;
    }
    //text field
    &-input {
      z-index: 9999;
      width: 100%;
      background: none;
      border: none;
      color: inherit;

      &:focus {
        outline: none;
      }
      //text when nothing is typed in
      &::placeholder {
        color: $color-grey-light-2;
      }
    }
    &-results {
      position: absolute;
      top: 0; // make room for a border radius hider div
      left: 0;
      width: 100%;
      //so the top border radius does not conflict
      background: linear-gradient(
        to bottom,
        transparent 2.5rem,
        $color-grey-dark-2 2.5rem
      );
      border-radius: 3rem;
      //box-shadow: $shadow-big; // ADDED WITH JAVASCRIPT FOR ANIMATION
      overflow: hidden; // the text appears with the background in the animation
      transition: height 0.4s, box-shadow 0.4s;
      transition-timing-function: ease-in-out;
      height: 0rem; // base height is 0, JS will change that (1box = 5rem)

      // shiny hover effect (cursor following)
      &::after {
        content: '';
        position: absolute;
        top: calc(var(--y, 0) * 1px - 150px);
        left: calc(var(--x, 0) * 1px - 150px);
        width: 300px;
        height: 300px;
        opacity: 0;
        transition: opacity 0.2s;
        background: radial-gradient(#303030, #1e1e1e00 60%);
      }
      &:hover::after {
        opacity: 0.2;
      }

      &--box {
        cursor: pointer;
        z-index: 9999;
        position: relative;
        display: flex;
        align-items: center;
        height: 5rem;
        padding: 1.25rem 2.5rem;
        transition: all 0.4s;

        &:hover {
          transform: scale(1.02);
        }

        // separator line
        border-top: 2px solid $color-grey-lines;

        .results {
          &-icon {
            height: 2.4rem;
            width: 2.4rem;
          }
          &-city {
            margin-left: 1.5rem;
            font-size: 2rem;
            color: $color-lightblue-main;
            font-weight: 600;
            & > span {
              font-weight: 800;
            }
          }
          &-country {
            margin-left: 1rem;
            color: $color-grey-light-2;
          }
          &-save {
            transition: all 0.3s;
            cursor: pointer;
            color: $color-lightblue-main-shade-2;
            height: 3rem;
            width: 3rem;
            margin-left: auto;
            z-index: 9999; // so its still clickable even with shiny hover effect

            &:hover {
              color: $color-grey-light;
            }
          }
        }
      }
    }
  }
}

/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .navigation {
    &__searchbar {
      width: 80%;
      height: 6.25rem;
      font-size: 2rem;

      &-icon {
        transition: all 0.2s;
        transition-timing-function: ease-out;
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

// 700 px
@include small-phones {
  .navigation {
    &__searchbar {
      width: 100%;
    }
  }
}
