.other {
  &__container {
    // CARDS
    &-card {
      height: 9.2rem;
      width: 100%;
      border-radius: 3.2rem;
      padding: 1.2rem 2rem 1.2rem 2.5rem;
      background-color: $color-grey-dark-4;

      display: flex;
      justify-content: space-between;
      align-items: center;

      // LEFT SIDE OF THE CARD (country, city, weather)
      &--texts {
        display: flex;
        flex-direction: column;

        // COUNTRY
        & > span:nth-child(1) {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 0.7;
          color: $color-grey-light-2;
          margin-top: 0.3rem;
        }

        // CITY
        & > span:nth-child(2) {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.1rem;
        }

        // WEATHER DESCRIPTION
        & > span:nth-child(3) {
          font-size: 1.5rem;
          font-weight: 400;
          color: $color-lightblue-main;
        }
      }
      // RIGHT SIDE OF THE CARD (temperature, icon)
      &--weather {
        display: flex;
        align-items: center;

        // TEMPERATURE
        & > span {
          height: 4.8rem;
          width: 5.6rem;
          font-size: 3.5rem;
          margin-right: 1rem;
          font-weight: 700;
        }

        // ICON IS STYLED WITH UTILITY CLASS
      }
    }
  }
}
