.other {
  &__container {
    // CARDS
    &-card {
      height: 9.2rem;
      width: 100%;
      border-radius: 3.2rem;
      padding: 1.2rem 2rem 1.2rem 2.5rem;
      background-color: $color-grey-dark-4;

      display: flex;
      justify-content: space-between;
      align-items: center;

      // LEFT SIDE OF THE CARD (country, city, weather)
      &--texts {
        display: flex;
        flex-direction: column;

        // COUNTRY
        & > span:nth-child(1) {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 0.7;
          color: $color-grey-light-2;
          margin-top: 0.3rem;
        }

        // CITY
        & > span:nth-child(2) {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.1rem;
        }

        // WEATHER DESCRIPTION
        & > span:nth-child(3) {
          font-size: 1.5rem;
          font-weight: 400;
          color: $color-lightblue-main;
        }
      }
      // RIGHT SIDE OF THE CARD (temperature, icon)
      &--weather {
        display: flex;
        align-items: center;

        // TEMPERATURE
        & > span {
          height: 4.8rem;
          width: 5.6rem;
          font-size: 3.5rem;
          margin-right: 1rem;
          font-weight: 700;
          text-align: center;
        }

        // ICON IS STYLED WITH UTILITY CLASS
      }
    }
  }
}

/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .other {
    &__container {
      &-card {
        width: 18rem;
        height: 100%;
        flex-direction: column;
        // UPPER PART OF THE CARD (country, city, weather)
        &--texts {
          align-items: center;

          // COUNTRY
          & > span:nth-child(1) {
            font-size: 1.7rem;
          }
          // CITY
          & > span:nth-child(2) {
            font-size: 2.5rem;
            margin-bottom: -0.2rem;
          }

          // WEATHER DESCRIPTION
          & > span:nth-child(3) {
            font-size: 2rem;
          }
        }

        // DOWN PART OF THE CARD
        &--weather {
          flex-direction: column-reverse; // icon is above the temperature
          gap: 1rem;

          // TEMPERATURE
          & > span {
            margin-right: 0;
            margin-bottom: 1.3rem;
            font-size: 4.5rem;
          }
        }
      }
    }
  }
}

// 800px
@include phones {
  .other {
    &__container {
      &-card {
        height: 9.2rem;
        width: 38rem;
        flex-direction: row;

        // DOWN PART OF THE CARD
        &--weather {
          flex-direction: row;
          gap: 1rem;

          // TEMPERATURE
          & > span {
            font-size: 4rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
