.settingsbox {
  &__profilepic {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      fill: $color-lightblue-main;
      width: 5rem;
      height: 5rem;
      transform: scale(1.2308);
    }
  }
}
/// MEDIA QUERIES ///
// 1100px
@include laptops {
  .settingsbox {
    &__profilepic {
      &-icon {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }
}
