.settingsbox {
  &__switcher {
    // invisible checkbox for toggle
    &-checkbox {
      display: none;
      // background of the whole element
      & + label {
        position: relative;
        cursor: pointer;
        height: 5rem;
        width: 10rem;
        padding: 0.8rem;
        border-radius: 100px;
        background-color: var(--color-grey-dark-3);
        outline: 2px solid var(--color-grey-lines);

        display: flex;
        align-items: center;
        justify-content: space-between;

        & > svg {
          height: 3.3rem;
          width: 3.3rem;
          z-index: 1000;
        }

        // active setting background (round)
        &::before {
          content: '';
          position: absolute;
          right: 0; //because the default is dark mode
          height: 5rem;
          width: 5rem;
          border-radius: 100%;
          background-color: var(--color-lightblue-main);
          outline: 2px solid var(--color-grey-light);
          transition: all 0.2s;
          transition-timing-function: ease-out;
        }
        &:hover::before {
          background-color: var(--color-lightblue-main-shade-2);
          outline: 2px solid var(--color-grey-light-shade);
        }
      }

      &:checked + label::before {
        transform: translateX(-100%); // move left with own size
      }
      &:checked + label > .sun {
        // sun icon
        transition-property: stroke, fill;
        transition-delay: 0.1s;
        fill: var(--color-grey-dark-3);
        stroke: var(--color-grey-dark-3);
      }
      &:not(:checked) + label > .moon {
        // moon icon
        transition-property: stroke, fill;
        transition-delay: 0.1s;
        fill: black;
        stroke: black;
      }
    }
  }
}
/// MEDIA QUERIES ///
// 1100px
@include desktop-sm {
  .settingsbox {
    &__switcher {
      &-checkbox {
        & + label {
          height: 6.25rem;
          width: 12.5rem;
          padding: 1rem;

          & > svg {
            height: 4.125rem;
            width: 4.125rem;
          }

          &::before {
            height: 6.25rem;
            width: 6.25rem;
          }
        }
      }
    }
  }
}
