.settingsbox {
  &__profilepic {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      fill: var(--color-lightblue-main);
      width: 5rem;
      height: 5rem;
      transform: scale(1.2308);
      transition: all 0.2s;
      &:hover {
        fill: var(--color-lightblue-main-shade-2);
      }
    }
  }
}
/// MEDIA QUERIES ///
// 1100px
@include desktop-sm {
  .settingsbox {
    &__profilepic {
      &-icon {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }
}
