.forecast {
  &__active-item {
    color: $color-grey-light;
    cursor: default !important;
    pointer-events: none;
  }
}

.numbers {
  font-family: $font-numbers;
}

.icon {
  &-weather {
    // small round gradient in the background of the icons
    background-image: radial-gradient(
      closest-side,
      $color-grey-dark 60%,
      $color-grey-dark-4
    );

    height: 6.5rem;
    width: 6.5rem;
    &--active {
      background-image: radial-gradient(
        closest-side,
        $color-lightblue-main-shade 65%,
        $color-lightblue-main
      );

      height: 8.5rem;
      width: 8.5rem;
    }
  }
}
// only on cardsview, (Next 7 days) + wind quality
.windspeedUnit {
  font-size: 1.6rem !important;
  margin-top: -1.3rem !important;
}
.is-flipped {
  transform: rotateY(180deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.6s;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 0.3s;
  opacity: 0;
}

.border-hider {
  height: 5rem;
}

@keyframes pulse {
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

.like-clicked {
  fill: $color-lightblue-main-shade-2 !important;
  color: $color-lightblue-main-shade-2 !important;
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  &:hover {
    fill: $color-grey-light !important;
    color: $color-grey-light !important;
  }
}
