.forecast {
  &__active-item {
    color: var(--color-grey-light);
    cursor: default !important;
    pointer-events: none;
  }
}

.numbers {
  font-family: $font-numbers;
}

.icon {
  &-weather {
    // small round gradient in the background of the icons
    background-image: radial-gradient(
      closest-side,
      var(--color-grey-dark) 60%,
      var(--color-grey-dark-4)
    );

    height: 6.5rem;
    width: 6.5rem;
    &--active {
      background-image: radial-gradient(
        closest-side,
        var(--color-lightblue-main-shade) 65%,
        var(--color-lightblue-main)
      );

      height: 8.5rem;
      width: 8.5rem;
    }
  }
}
// only on cardsview, (Next 7 days) + wind quality
.windspeedUnit {
  font-size: 1.6rem !important;
  margin-top: -1.3rem !important;
}
.is-flipped {
  transform: rotateY(180deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.6s;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 0.3s;
  opacity: 0;
}

.border-hider {
  height: 5rem;
}

@keyframes pulse {
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

.like-clicked {
  fill: var(--color-lightblue-main-shade-2) !important;
  color: var(--color-lightblue-main-shade-2) !important;
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  &:hover {
    fill: var(--color-grey-light) !important;
    color: var(--color-grey-light) !important;
  }
}

.pin,
.pinned {
  transition: all 0.3s;
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

// saved cities + info button styling
.empty {
  &Text {
    display: flex;
    font-size: 1.7rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.2rem 4rem; // basically a padding for the big box
  }
  &Search {
    // hides box, put focus on input field
    cursor: pointer;
    color: var(--color-lightblue-main);
    position: relative;
    margin-top: 0.7rem;
    font-size: 2rem;
    font-weight: 700;

    // hover animation (bottom line)
    &::after {
      content: '';
      position: absolute;
      transition: all 0.4s;
      transform: scaleX(0); // scale up with :hover
      top: 90%;
      left: 0;
      background-color: var(--color-grey-light);
      width: 100%;
      height: 1px;
    }
    &:hover::after {
      transform: scaleX(
        1.001
      ); // 1 makes some kind of bug in opera, the animation is not smooth enough at the end
    }
  }
}
.pin {
  &Empty {
    width: 100%;
    height: 100%;
    justify-content: center;
    & > svg {
      height: 2.6rem;
      width: 2.6rem;
    }
  }
  &Here {
    font-size: 2.2rem;
  }
}

.map-icon {
  background-color: #1b1a1d;
  opacity: 85%;
  border-radius: 17px;
  border: 2px solid #e7e7e8;
  padding: 0.5rem !important;
}

// LEAFLET POPUP
.leaflet-popup {
  &-content-wrapper {
    background-color: var(--color-lightblue-main) !important;
    color: black !important;
    font-weight: 700;
    font-family: $font-primary;
    font-size: 1.8rem;
    margin: 0 !important;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-tip {
    background-color: var(--color-lightblue-main) !important;
  }
  &-content {
    width: 100% !important;
  }
}
a.leaflet-popup-close-button {
  display: none !important;
}

// LEAFLET ZOOM
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: var(--color-lightblue-main-shade) !important;
  color: black !important;
}

// RESIZE BUTTON
.resizebtn {
  cursor: pointer;
  position: relative;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
.map__message {
  font-family: $font-primary;
  opacity: 0.85;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  width: 30rem;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 5%;
  left: 1%;
  z-index: 999;
  transition: all 0.3s;
}
